@define-color accent_color #006a68;
@define-color accent_fg_color #ffffff;
@define-color accent_bg_color #006a68;
@define-color window_bg_color #f7f9ff;
@define-color window_fg_color #151c23;
@define-color headerbar_bg_color #d3dbe5;
@define-color headerbar_fg_color #151c23;
@define-color popover_bg_color #d3dbe5;
@define-color popover_fg_color #151c23;
@define-color view_bg_color #f7f9ff;
@define-color view_fg_color #151c23;
@define-color card_bg_color #f7f9ff;
@define-color card_fg_color #151c23;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
