* {
    primary: #2c2e00;
    primary-fixed: #494d04;
    primary-fixed-dim: #323500;
    on-primary: #ffffff;
    on-primary-fixed: #ffffff;
    on-primary-fixed-variant: #ffffff;
    primary-container: #494d04;
    on-primary-container: #ffffff;
    secondary: #2c2e15;
    secondary-fixed: #4a4b30;
    secondary-fixed-dim: #33341b;
    on-secondary: #ffffff;
    on-secondary-fixed: #ffffff;
    on-secondary-fixed-variant: #ffffff;
    secondary-container: #4a4b30;
    on-secondary-container: #ffffff;
    tertiary: #033327;
    tertiary-fixed: #265144;
    tertiary-fixed-dim: #0c3a2e;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #ffffff;
    on-tertiary-fixed-variant: #ffffff;
    tertiary-container: #265144;
    on-tertiary-container: #ffffff;
    error: #600004;
    on-error: #ffffff;
    error-container: #98000a;
    on-error-container: #ffffff;
    surface: #fcfaec;
    on-surface: #000000;
    on-surface-variant: #000000;
    outline: #2d2d21;
    outline-variant: #4a4a3d;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #313128;
    inverse-on-surface: #ffffff;
    inverse-primary: #c7cc79;
    surface-dim: #bbb9ad;
    surface-bright: #fcfaec;
    surface-container-lowest: #ffffff;
    surface-container-low: #f4f1e4;
    surface-container: #e5e3d6;
    surface-container-high: #d7d5c8;
    surface-container-highest: #c9c7ba;
}

* {
    background:            @surface;
    foreground:            @on-surface;

    selected:              @primary-container;
    selected-foreground:   @on-primary-container;

    input-background:      @surface-container;
    input-foreground:      @on-surface;

    border-color:          @outline;
}



configuration {
	modi:                       "drun";
    show-icons:                 true;
    display-drun:               " ";
	drun-display-format:        "{name}";
}

/*
└── window
    └── mainbox
        ├── inputbar
        │   ├── prompt
        │   └── entry
        └── listview
            └── elements
*/

window {
    width:                       1000px;
    height:                      575px;
    border:                      0px;
    border-radius:               12px;
    border-color:                @selected;
    background-color:            @background;
}


mainbox {
    spacing:                     10px;
    padding:                     10px;
    border:                      2px;
    border-radius:               12px 12px 12px 12px;
    border-color:                @selected;
    background-color:            @background;
    children:                    ["listview" ];
}

listview {
    columns:                     5;
    lines:                       3;
    scrollbar:                   false;
    layout:                      vertical;
    border:                      0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
}

element {
    spacing:                     6px;
    padding:                     4px;
    border:                      0px;
    border-radius:               10px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    orientation:                 vertical;
}

element normal.normal {
    background-color: transparent;
    text-color:       @on-surface-variant;
}

element alternate.normal {
    background-color:            transparent;
    text-color:                  @foreground;
}
element selected.normal {
    background-color: @primary-container;
    text-color:       @on-primary-container;
}

element-icon {
    size:             140px;
    background-color: transparent;
    text-color: inherit;
}

element-text {
    background-color:            transparent;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    padding: 0px;
    margin: 0px;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align:   0.5;
}
