/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #e4e892 !important;
  --toolbarbutton-icon-fill: #5e621b !important;
  --toolbar-field-color: #1c1c14 !important;
  --tab-selected-textcolor: #5e621b !important;
  --toolbar-color: #1c1c14 !important;
  --arrowpanel-color: #1c1c14 !important;
  --arrowpanel-background: #f1eee1 !important;
  --sidebar-text-color: #1c1c14 !important;
  --zen-main-browser-background: #fcfaec !important;
  --zen-main-browser-background-toolbar: #fcfaec !important;
}

#zen-browser-background {
  --zen-main-browser-background: #fcfaec !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #fcfaec !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #f1eee1 !important;
}

#zen-workspaces-button {
  background-color: #f1eee1 !important;
}

#TabsToolbar {
  background-color: #fcfaec !important;
}

.urlbar-background {
  background-color: #f1eee1 !important;
}

.urlbar-input::selection {
  color: #ffffff !important;
  background-color: #5e621b !important;
}

.urlbarView-url {
  color: #47473b !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #5e621b
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #73733f !important;
  --identity-icon-color: #73733f !important;
}

.identity-color-turquoise {
  --identity-tab-color: #2c2e00 !important;
  --identity-icon-color: #2c2e00 !important;
}

.identity-color-green {
  --identity-tab-color: #0f8c00 !important;
  --identity-icon-color: #0f8c00 !important;
}

.identity-color-yellow {
  --identity-tab-color: #a58c00 !important;
  --identity-icon-color: #a58c00 !important;
}

.identity-color-orange {
  --identity-tab-color: #998100 !important;
  --identity-icon-color: #998100 !important;
}

.identity-color-red {
  --identity-tab-color: #c64123 !important;
  --identity-icon-color: #c64123 !important;
}

.identity-color-pink {
  --identity-tab-color: #505137 !important;
  --identity-icon-color: #505137 !important;
}

.identity-color-purple {
  --identity-tab-color: #505137 !important;
  --identity-icon-color: #505137 !important;
}

#zen-appcontent-navbar-container {
  background-color: #fcfaec !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #5e621b !important;
  color: #5e621b !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #5e621b !important;
  color: #5e621b !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #5e621b !important;
}
